# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.mailmap
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore
# maintenance migration scripts
odoo/addons/base/maintenance

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/

/account
/account_analytic_default_purchase

/addons/account/*
/addons/account_analytic_default/*
/addons/account_analytic_default_hr_expense/*
/addons/account_analytic_default_purchase/*
/addons/account_bank_statement_import/*
/addons/account_check_printing/*
/addons/account_debit_note/*
/addons/account_facturx/*
/addons/account_lock/*
/addons/account_payment/*
/addons/account_tax_python/*
/addons/account_test/*
/addons/analytic/*
/addons/association/*
/addons/attachment_indexation/*
/addons/auth_ldap/*
/addons/auth_oauth/*
/addons/auth_password_policy/*
/addons/auth_password_policy_signup/*
/addons/auth_signup/*
/addons/auth_totp/*
/addons/auth_totp_portal/*
/addons/barcodes/*
/addons/base_address_city/*
/addons/base_address_extended/*
/addons/base_automation/*
/addons/base_gengo/*
/addons/base_geolocalize/*
/addons/base_iban/*
/addons/base_import/*
/addons/base_import_module/*
/addons/base_setup/*
/addons/base_sparse_field/*
/addons/base_vat/*
/addons/board/*
/addons/bus/*
/addons/calendar/*
/addons/calendar_sms/*
/addons/contacts/*
/addons/crm/*
/addons/crm_iap_lead/*
/addons/crm_iap_lead_enrich/*
/addons/crm_iap_lead_website/*
/addons/crm_livechat/*
/addons/crm_sms/*
/addons/daffodil_hall_management/*
/addons/daffodil_hall_management_online/*
/addons/daffodil_student_extension/*
/addons/delivery/*
/addons/digest/*
/addons/event/*
/addons/event_sale/*
/addons/event_sms/*
/addons/fetchmail/*
/addons/filenames.txt/*
/addons/fleet/*
/addons/gamification/*
/addons/gamification_sale_crm/*
/addons/google_account/*
/addons/google_calendar/*
/addons/google_drive/*
/addons/google_spreadsheet/*
/addons/hr/*
/addons/hr_attendance/*
/addons/hr_contract/*
/addons/hr_expense/*
/addons/hr_expense_check/*
/addons/hr_fleet/*
/addons/hr_gamification/*
/addons/hr_holidays/*
/addons/hr_holidays_attendance/*
/addons/hr_holidays_calendar/*
/addons/hr_maintenance/*
/addons/hr_org_chart/*
/addons/hr_presence/*
/addons/hr_recruitment/*
/addons/hr_recruitment_survey/*
/addons/hr_skills/*
/addons/hr_skills_slides/*
/addons/hr_skills_survey/*
/addons/hr_timesheet/*
/addons/hr_timesheet_attendance/*
/addons/hr_work_entry/*
/addons/http_routing/*
/addons/hw_drivers/*
/addons/hw_escpos/*
/addons/hw_posbox_homepage/*
/addons/hw_proxy/*
/addons/iap/*
/addons/iap_mail/*
/addons/im_livechat/*
/addons/im_livechat_mail_bot/*
/addons/im_support/*
/addons/l10n_ae/*
/addons/l10n_ar/*
/addons/l10n_at/*
/addons/l10n_au/*
/addons/l10n_be/*
/addons/l10n_be_edi/*
/addons/l10n_be_invoice_bba/*
/addons/l10n_bo/*
/addons/l10n_br/*
/addons/l10n_ca/*
/addons/l10n_ch/*
/addons/l10n_ch_qriban/*
/addons/l10n_cl/*
/addons/l10n_cn/*
/addons/l10n_cn_city/*
/addons/l10n_cn_small_business/*
/addons/l10n_cn_standard/*
/addons/l10n_co/*
/addons/l10n_co_pos/*
/addons/l10n_cr/*
/addons/l10n_de/*
/addons/l10n_de_skr03/*
/addons/l10n_de_skr04/*
/addons/l10n_dk/*
/addons/l10n_do/*
/addons/l10n_dz/*
/addons/l10n_ec/*
/addons/l10n_es/*
/addons/l10n_et/*
/addons/l10n_eu_service/*
/addons/l10n_fi/*
/addons/l10n_fr/*
/addons/l10n_fr_fec/*
/addons/l10n_fr_pos_cert/*
/addons/l10n_generic_coa/*
/addons/l10n_gr/*
/addons/l10n_gt/*
/addons/l10n_hk/*
/addons/l10n_hn/*
/addons/l10n_hr/*
/addons/l10n_hu/*
/addons/l10n_id/*
/addons/l10n_id_efaktur/*
/addons/l10n_ie/*
/addons/l10n_il/*
/addons/l10n_in/*
/addons/l10n_in_pos/*
/addons/l10n_in_purchase/*
/addons/l10n_in_purchase_stock/*
/addons/l10n_in_sale/*
/addons/l10n_in_sale_stock/*
/addons/l10n_in_stock/*
/addons/l10n_it/*
/addons/l10n_it_edi/*
/addons/l10n_jp/*
/addons/l10n_latam_base/*
/addons/l10n_latam_invoice_document/*
/addons/l10n_lt/*
/addons/l10n_lu/*
/addons/l10n_ma/*
/addons/l10n_mn/*
/addons/l10n_multilang/*
/addons/l10n_mx/*
/addons/l10n_nl/*
/addons/l10n_no/*
/addons/l10n_nz/*
/addons/l10n_pa/*
/addons/l10n_pe/*
/addons/l10n_pl/*
/addons/l10n_pt/*
/addons/l10n_ro/*
/addons/l10n_sa/*
/addons/l10n_se/*
/addons/l10n_se_ocr/*
/addons/l10n_sg/*
/addons/l10n_si/*
/addons/l10n_syscohada/*
/addons/l10n_th/*
/addons/l10n_tr/*
/addons/l10n_ua/*
/addons/l10n_uk/*
/addons/l10n_us/*
/addons/l10n_uy/*
/addons/l10n_ve/*
/addons/l10n_vn/*
/addons/l10n_za/*
/addons/link_tracker/*
/addons/lunch/*
/addons/mail/*
/addons/mail_bot/*
/addons/maintenance/*
/addons/mass_mailing/*
/addons/mass_mailing_crm/*
/addons/mass_mailing_event/*
/addons/mass_mailing_event_sms/*
/addons/mass_mailing_event_track/*
/addons/mass_mailing_event_track_sms/*
/addons/mass_mailing_sale/*
/addons/mass_mailing_slides/*
/addons/mass_mailing_sms/*
/addons/membership/*
/addons/mrp/*
/addons/mrp_account/*
/addons/mrp_subcontracting/*
/addons/mrp_subcontracting_account/*
/addons/mrp_subcontracting_dropshipping/*
/addons/note/*
/addons/note_pad/*
/addons/odoo_referral/*
/addons/odoo_referral_portal/*
/addons/openeducat_achievement_enterprise/*
/addons/openeducat_activity/*
/addons/openeducat_activity_enterprise/*
/addons/openeducat_admission/*
/addons/openeducat_admission_enterprise/*
/addons/openeducat_alumni_blog_enterprise/*
/addons/openeducat_alumni_enterprise/*
/addons/openeducat_alumni_event_enterprise/*
/addons/openeducat_alumni_job_enterprise/*
/addons/openeducat_assignment/*
/addons/openeducat_assignment_enterprise/*
/addons/openeducat_assignment_grading_enterprise/*
/addons/openeducat_attendance/*
/addons/openeducat_attendance_enterprise/*
/addons/openeducat_backend_theme/*
/addons/openeducat_bigbluebutton/*
/addons/openeducat_campus_enterprise/*
/addons/openeducat_classroom/*
/addons/openeducat_classroom_enterprise/*
/addons/openeducat_core/*
/addons/openeducat_core_enterprise/*
/addons/openeducat_crm_enterprise/*
/addons/openeducat_discipline/*
/addons/openeducat_district/*
/addons/openeducat_education_board/*
/addons/openeducat_education_degree/*
/addons/openeducat_education_shift/*
/addons/openeducat_erp/*
/addons/openeducat_erp_enterprise/*
/addons/openeducat_event_enterprise/*
/addons/openeducat_exam/*
/addons/openeducat_exam_enterprise/*
/addons/openeducat_exam_gpa_enterprise/*
/addons/openeducat_extension/*
/addons/openeducat_facility/*
/addons/openeducat_facility_enterprise/*
/addons/openeducat_fees/*
/addons/openeducat_fees_enterprise/*
/addons/openeducat_health_enterprise/*
/addons/openeducat_jitsi_enterprise/*
/addons/openeducat_job_enterprise/*
/addons/openeducat_lesson/*
/addons/openeducat_library/*
/addons/openeducat_library_barcode/*
/addons/openeducat_library_enterprise/*
/addons/openeducat_lms/*
/addons/openeducat_lms_blog/*
/addons/openeducat_lms_forum/*
/addons/openeducat_lms_gamification/*
/addons/openeducat_lms_sale/*
/addons/openeducat_lms_survey/*
/addons/openeducat_meeting_enterprise/*
/addons/openeducat_online_admission/*
/addons/openeducat_online_tools_enterprise/*
/addons/openeducat_parent/*
/addons/openeducat_parent_enterprise/*
/addons/openeducat_placement_enterprise/*
/addons/openeducat_placement_job_enterprise/*
/addons/openeducat_quiz/*
/addons/openeducat_rest/*
/addons/openeducat_scholarship_enterprise/*
/addons/openeducat_semester/*
/addons/openeducat_skill_enterprise/*
/addons/openeducat_student_attendance_enterprise/*
/addons/openeducat_student_progress_enterprise/*
/addons/openeducat_timetable/*
/addons/openeducat_timetable_enterprise/*
/addons/openeducat_transportation_enterprise/*
/addons/openeducat_venue/*
/addons/openeducat_web/*
/addons/pad/*
/addons/pad_project/*
/addons/partner_autocomplete/*
/addons/partner_autocomplete_address_extended/*
/addons/payment/*
/addons/payment_adyen/*
/addons/payment_alipay/*
/addons/payment_authorize/*
/addons/payment_buckaroo/*
/addons/payment_ingenico/*
/addons/payment_paypal/*
/addons/payment_payulatam/*
/addons/payment_payumoney/*
/addons/payment_sips/*
/addons/payment_stripe/*
/addons/payment_test/*
/addons/payment_transfer/*
/addons/phone_validation/*
/addons/point_of_sale/*
/addons/portal/*
!/addons/portfolio_mazharulsabbir/*
/addons/pos_adyen/*
/addons/pos_cache/*
/addons/pos_cash_rounding/*
/addons/pos_discount/*
/addons/pos_epson_printer/*
/addons/pos_epson_printer_restaurant/*
/addons/pos_hr/*
/addons/pos_kitchen_printer/*
/addons/pos_mercury/*
/addons/pos_reprint/*
/addons/pos_restaurant/*
/addons/pos_sale/*
/addons/pos_six/*
/addons/procurement_jit/*
/addons/product/*
/addons/product_email_template/*
/addons/product_expiry/*
/addons/product_margin/*
/addons/product_matrix/*
/addons/project/*
/addons/project_timesheet_holidays/*
/addons/purchase/*
/addons/purchase_mrp/*
/addons/purchase_product_matrix/*
/addons/purchase_requisition/*
/addons/purchase_requisition_stock/*
/addons/purchase_stock/*
/addons/rating/*
/addons/repair/*
/addons/resource/*
/addons/sale/*
/addons/sales_team/*
/addons/sale_coupon/*
/addons/sale_coupon_delivery/*
/addons/sale_crm/*
/addons/sale_expense/*
/addons/sale_management/*
/addons/sale_margin/*
/addons/sale_mrp/*
/addons/sale_product_configurator/*
/addons/sale_product_matrix/*
/addons/sale_purchase/*
/addons/sale_quotation_builder/*
/addons/sale_stock/*
/addons/sale_timesheet/*
/addons/sale_timesheet_purchase/*
/addons/sms/*
/addons/snailmail/*
/addons/snailmail_account/*
/addons/social_media/*
/addons/stock/*
/addons/stock_account/*
/addons/stock_dropshipping/*
/addons/stock_landed_costs/*
/addons/stock_picking_batch/*
/addons/stock_sms/*
/addons/survey/*
/addons/test_mail/*
/addons/test_mail_full/*
/addons/test_mass_mailing/*
/addons/test_website/*
/addons/test_website_slides_full/*
/addons/test_xlsx_export/*
/addons/theme_bootswatch/*
/addons/theme_default/*
/addons/transifex/*
/addons/uom/*
/addons/utm/*
/addons/web/*
/addons/website/*
/addons/website_blog/*
/addons/website_crm/*
/addons/website_crm_livechat/*
/addons/website_crm_partner_assign/*
/addons/website_crm_sms/*
/addons/website_customer/*
/addons/website_event/*
/addons/website_event_questions/*
/addons/website_event_sale/*
/addons/website_event_track/*
/addons/website_form/*
/addons/website_form_project/*
/addons/website_forum/*
/addons/website_gengo/*
/addons/website_google_map/*
/addons/website_hr_recruitment/*
/addons/website_links/*
/addons/website_livechat/*
/addons/website_mail/*
/addons/website_mail_channel/*
/addons/website_mass_mailing/*
/addons/website_membership/*
/addons/website_partner/*
/addons/website_payment/*
/addons/website_profile/*
/addons/website_rating/*
/addons/website_sale/*
/addons/website_sale_comparison/*
/addons/website_sale_coupon/*
/addons/website_sale_coupon_delivery/*
/addons/website_sale_delivery/*
/addons/website_sale_digital/*
/addons/website_sale_management/*
/addons/website_sale_product_configurator/*
/addons/website_sale_slides/*
/addons/website_sale_stock/*
/addons/website_sale_stock_product_configurator/*
/addons/website_sale_wishlist/*
/addons/website_slides/*
/addons/website_slides_forum/*
/addons/website_slides_survey/*
/addons/website_sms/*
/addons/website_theme_install/*
/addons/website_twitter/*
/addons/web_diagram/*
/addons/web_editor/*
/addons/web_kanban_gauge/*
/addons/web_openeducat/*
/addons/web_tour/*
/addons/web_unsplash/*
/addons//*


